<VirtualHost {{ django_site_hostname }}:80>
    ServerName {{ django_site_hostname }}

    ServerAdmin {{ django_apache_webmaster_email }}
    DocumentRoot /var/www/html
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    Alias /static /opt/{{ django_project_name }}/static
    <Directory /opt/{{ django_project_name }}/static>
    Require all granted
    </Directory>

    Alias /media /opt/{{ django_project_name }}/media
    <Directory /opt/{{ django_project_name }}/media>
    Require all granted
    </Directory>

    <Directory /opt/{{ django_project_name }}/site/{{ django_site_module }}>
    <Files wsgi.py>
        Require all granted
    </Files>
    </Directory>

    <IfDefine !wsgi_init>
        WSGIScriptAlias / /opt/{{ django_project_name }}/site/{{ django_site_module }}/wsgi.py
        WSGIDaemonProcess {{ django_site_module }} user=www-data group=www-data python-path=/opt/{{ django_project_name }}/site python-home=/opt/{{ django_project_name }}/venv
        WSGIProcessGroup {{ django_site_module }}
        Define wsgi_init 1
    </IfDefine>
</VirtualHost>
